@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
html {
  margin: 0px;
  padding: 0px;
}
body {
  background: #333;
  color: #ffffff;
  padding: 0;
  font-family: 'Inter Tight';
}
header {
    background: #444;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0px 7px 8px 0px rgba(0, 0, 0, 0.23);
    
}